.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 120px;
  background-color: rgb(247, 204, 244);
  margin: 8px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: 800;
      font-size: 16px;
      color: rgb(165, 43, 145);
    }

    .counter {
      font-size: 18px;
      font-weight: 600;
      .count{
        color: rgb(180, 91, 32);
        font-weight: 800;
        font-size: 24px;
      }
    }

    .link {
      width: max-content;
      font-size: 14px;
      border-bottom: 1px solid gray;
      margin-bottom: 4px;
      cursor: pointer;
      color: rgb(106, 148, 134);
    }
    .link:hover{
      color: rgb(12, 155, 76);
      font-weight: 600;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}
