.login {
  margin-top: 200px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #0071c28c;
  }

.login-text{
  font-weight: 700;
  font-size: 120%;
}
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .tInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }
