.footer{
  width: 100%;
  width: 1024px;
  font-size: 12px;
}

.fText{
  list-style: none;
  align-items: center;
  text-align: center;
  padding: 0;
}

.icon-container{
  text-align: center;
}

.icon{
  padding: 10px;
  font-size: 20px
}
