.reserve {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rContainer {
    background-color: white;
    padding: 20px;
    margin: 8px;
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .rClose {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  .rItem {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    margin: 16px;
  }
  
  .rInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .rTitle {
    font-weight: 500;
  }
  
  .rDesc {
    font-weight: 300;
  }
  
  .rMax {
    font-size: 12px;
  }
  
  .rPrice {
    font-weight: 500;
  }
  
  .rSelectRooms{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 8px;
    color: gray;
  }
  
  .room{
    display: flex;
    flex-direction: column;
  }
  
  .rButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
  }

  .h2-reverse{
    margin-left: 10px;
  }

  /* //--------------------// */

  .slider{
    position: sticky;
    top: 0;
    left: 0;
    width: 67vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.613);
    z-index: 999;
    display: flex;
    align-items: center;
  }

  .sliderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sliderImg{
    width: 80%;
    height: 80vh;
    margin-bottom: 70px;
  }
  
  .close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
  }
  
  .arrow{
    margin: 20px;
    font-size: 50px;
    color: lightgray;
    cursor: pointer;
  }

  .hotelWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  .hotelImgWrapper {
    width: 33%;
  }

  .hotelImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
  }

  .hotelImg {
    width: 95%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid orange;
  }
  