.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
  color: white;
  font-size: 120%;
  position: absolute;
  top:12px
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  border-radius: 30px;
}

span, img{
  margin-right: 10px;
  cursor: pointer;
}

.img-user{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
  top:10px
}

.user{
  display: block;
}

.select1{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 965px;
  top: 50px;
  z-index: 999;
  transition: 0.5s;
}

.select2{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 965px;
  top: 80px;
  z-index: 999;
  opacity: 0;
  transition: 0.5s;
}

.button{
  width: 150px;
  height: 30px;
}